.working_area{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 8px yellow solid;
}

.slider{

    width: 460px;
    position: absolute;
    left: 50%;
    top: 90%;
    margin-left: -230px;
}