<p>imageslide works!</p>





<div>Some tags before</div>
<div class="working_area">
  <div>
    	<owl-carousel-o [options]="customOptions" interval="myinterval">

        <ng-template carouselSlide ><img src="../../assets/sunset.jpg" height="500px"></ng-template>  
        <ng-template carouselSlide ><img src="../../assets/best.jpg"height="500px" ></ng-template>  
        <ng-template carouselSlide><img src="../../assets/sea.jpg" height="500px"></ng-template>  
      </owl-carousel-o></div>
    


      
  