.c1{

    background-color: red;
    font-size: large;
    
}
.div1_class
{
color: blue;
}
.c2{

    background-color:burlywood;
    font-size: 20px;
    color: blue;
}
.div2_class
{
background-color:aquamarine;
font-size: 20px;
}
